.mt-c-header {
  display: flex;
  flex-direction: column; }

.mt-c-header__logo {
  display: flex;
  justify-content: center; }
  .mt-c-header__logo .mt-c-header__img {
    display: inline-block; }
    .mt-c-header__logo .mt-c-header__img img {
      width: 4rem; }
  .mt-c-header__logo .mt-c-header__name {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem; }
    .mt-c-header__logo .mt-c-header__name h4 {
      font-size: 1.3rem;
      color: #00001a; }
    .mt-c-header__logo .mt-c-header__name h5 {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #b3b3b3; }

.mt-c-header__menu {
  display: flex;
  padding-left: 8rem;
  border-top: 1px solid #d3d3d3; }
  .mt-c-header__menu a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    color: #00001a; }
    .mt-c-header__menu a:hover {
      color: #ff0000;
      border-bottom: 2px solid #ff0000; }

footer {
  background: #edf1f8;
  padding: 2rem 10rem; }
  footer p {
    float: left;
    font-size: 0.7em;
    color: #003d66; }
  footer nav {
    float: left;
    padding-left: 4rem; }
    footer nav ul li {
      display: inline-block;
      transform: skew(-20deg);
      border-right: 1px solid #d3d3d3; }
    footer nav a {
      display: inline-block;
      transform: skew(20deg);
      text-decoration: none;
      font-size: 0.8rem;
      padding: 0 0.5rem;
      color: #003d66; }

.mt-u-solutions-section__column {
  padding: 0 2rem; }

.mt-u-info-section__part {
  width: 50%; }

.mt-l-info-section {
  display: flex;
  padding: 1rem 10rem;
  margin-top: 4rem;
  background: #edf1f8; }

.mt-c-info-section-part--left h4 {
  font-size: 1.2rem;
  margin: 2rem 0; }
.mt-c-info-section-part--left img {
  width: 1.5rem; }

.mt-c-info-section-part--right h5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 2rem 0; }
.mt-c-info-section-part--right div {
  border: 1px solid #d3d3d3; }
  .mt-c-info-section-part--right div p {
    display: inline;
    color: #003d66;
    font-size: 1rem;
    line-height: 2.6rem;
    margin-left: 1rem;
    font-size: 0.8rem; }
  .mt-c-info-section-part--right div a {
    font-size: 0.8rem;
    float: right;
    text-decoration: none;
    padding: 0.8rem 1.8rem;
    color: #fff;
    background: #ff0000;
    font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  color: #00001a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mt-c-consultancy {
  background: url("../images/consultancy.jpg");
  background-size: cover;
  padding: 18rem 10rem; }
  .mt-c-consultancy h1 {
    color: #fff;
    font-size: 3rem; }
  .mt-c-consultancy hr {
    display: block;
    height: 1px;
    border-top: 3px solid #d3d3d3;
    margin: 1rem 0;
    width: 5rem; }

section {
  padding: 3rem 8rem 0; }

.mt-l-stats-section {
  display: flex;
  flex-direction: row; }

.mt-c-stats-section__column {
  padding: 0 2rem; }

.mt-c-stats-section-column--first {
  width: 30%; }
  .mt-c-stats-section-column--first h3 {
    font-size: 1.5rem;
    color: #00001a;
    margin-bottom: 1rem; }
  .mt-c-stats-section-column--first li {
    margin: 1rem 0 1rem;
    border-bottom: 1px solid #edf1f8;
    padding: 0.1rem; }
  .mt-c-stats-section-column--first a {
    text-decoration: none;
    color: #00001a;
    line-height: 1.5rem;
    font-size: 0.9rem; }
    .mt-c-stats-section-column--first a:hover {
      color: #ff0000; }
  .mt-c-stats-section-column--first .mt-c-stats-section__brochure {
    background-color: #edf1f8;
    padding: 2rem 1.5rem; }
    .mt-c-stats-section-column--first .mt-c-stats-section__brochure h4 {
      font-size: 1.5rem;
      color: #00001a; }
    .mt-c-stats-section-column--first .mt-c-stats-section__brochure p {
      font-size: 0.8rem;
      color: #00001a;
      margin: 2rem 0; }
    .mt-c-stats-section-column--first .mt-c-stats-section__brochure a {
      color: #fff;
      background-color: #ff0000;
      padding: 0.5rem 1rem;
      font-weight: bold; }

.mt-c-stats-section-column--second {
  width: 50%; }
  .mt-c-stats-section-column--second div {
    background-color: #edf1f8;
    transform: skew(-30deg, 0deg); }
    .mt-c-stats-section-column--second div h2 {
      color: #00001a;
      font-size: 2rem;
      margin-left: 2rem;
      transform: skew(30deg, 0deg); }
      .mt-c-stats-section-column--second div h2 span {
        font-weight: normal;
        font-size: 2.6rem; }
  .mt-c-stats-section-column--second h4 {
    color: #00001a;
    margin-bottom: 1rem;
    font-size: 1.2rem; }
  .mt-c-stats-section-column--second p {
    text-align: justify;
    color: #003d66;
    font-size: 0.8rem; }

hr {
  display: block;
  height: 1px;
  border-top: 4px solid #ff0000;
  margin: 1rem 0;
  width: 3rem; }

.mt-c-stats-section-column--third {
  width: 40%; }
  .mt-c-stats-section-column--third p {
    color: #003d66;
    font-size: 0.8rem; }
  .mt-c-stats-section-column--third img {
    width: 100%;
    height: 70%;
    margin-top: 2rem; }

.mt-l-solutions-section {
  display: flex;
  flex-direction: row; }

.mt-c-solutions-section-column--first {
  background-color: #ff0000;
  padding: 2rem;
  width: 26%;
  margin-left: 2rem; }
  .mt-c-solutions-section-column--first h4 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .mt-c-solutions-section-column--first p {
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 1.2rem; }
  .mt-c-solutions-section-column--first a {
    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem; }
    .mt-c-solutions-section-column--first a:hover {
      background: #fff;
      color: #ff0000; }

.mt-c-solutions-section-column--second {
  margin-left: 2.5rem;
  width: 100%; }

h2 {
  color: #00001a;
  font-size: 2rem;
  margin-bottom: 2rem; }
  h2 span {
    font-weight: normal;
    font-size: 2.6rem; }

.mt-c-solutions-section__chemicals {
  display: flex; }
  .mt-c-solutions-section__chemicals div {
    margin-top: 1rem;
    padding: 1rem;
    background: #edf1f8; }
    .mt-c-solutions-section__chemicals div h4 {
      color: #ff0000;
      font-size: 1rem;
      margin-bottom: 1rem; }
    .mt-c-solutions-section__chemicals div p {
      color: #003d66;
      font-size: 0.8rem; }

.mt-l-expertise-section {
  padding-left: 28rem; }
  .mt-l-expertise-section h4 {
    text-transform: uppercase;
    border-top: 1px solid #d3d3d3;
    padding: 1rem 0;
    font-size: 1rem; }
  .mt-l-expertise-section h4:last-child {
    border-bottom: 1px solid #d3d3d3; }
  .mt-l-expertise-section p {
    color: #003d66;
    margin-bottom: 1rem;
    font-size: 0.8rem; }

/*# sourceMappingURL=main.css.map */
