.mt-l-info-section {
    display: flex;
    padding: 1rem 10rem;
    margin-top: 4rem;
    background: $light-blue;
}

.mt-c-info-section-part--left {
    h4 {
        font-size: 1.2rem;
        margin: 2rem 0;
    }

    img {
        width: 1.5rem;
    }
}

.mt-c-info-section-part--right {

    h5 {
        font-size: 1rem;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 2rem 0;

    }

    form {
        .email {
            padding: 1rem;
            width: 20rem;
            font-size: 1rem;
            background: $light-blue;
            border: 1px solid $light-grey;
        }

        .submit {
            color: $white-col;
            background: $red-col;
            padding: 1rem 3rem;
            font-size: 1rem;
        }
    }

    // div {
    //     border: 1px solid $light-grey;
        
    //     p {
    //         display: inline;
    //         color: $section-font;
    //         font-size: 1rem;
    //         line-height: 2.6rem;
    //         margin-left: 1rem;
    //         font-size: 0.8rem;
            
    //     }   

    //     a {
    //         font-size: 0.8rem;
    //         float: right;
    //         text-decoration: none;
    //         padding: 0.8rem 1.8rem;
    //         color: $white-col;
    //         background: $red-col;
    //         font-weight: bold;
    //     }
    // }
}
