// colors

$color-primary: #ff0000;
$color-heading: #00001a;
$color-logo-grey: #b3b3b3;
$color-border: #d3d3d3;
$color-background: #edf1f8;
$color-white-font: #fff;
$color-main-font: #003d66;

// fonts

$main-font: 'Encode Sans Semi Expanded', sans-serif;

// media query-s

$mt-screen-tablet: 1280px;
$mt-screen-mobile: 768px;
