@import 'vars';
@import 'mixins';

@include main;

.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
        display: flex;
        justify-content: center;

    .header__img {
        display: inline-block;
            
        img {
            width: 4rem;
        }
    }

    .header__name {
        display: inline-block;
        padding-top: 1rem;
        padding-left: 1rem;

        h4 {          
            font-size: 1.3rem;
            color: $head-col;
        }

        h5 {
            font-size: 0.8rem;
            text-transform: uppercase;
            color: $font-col;
        }
    }
}

.header__menu {
        display: flex;
        padding-left: 13rem;
            
        a {
            text-decoration: none;
            display: inline-block;
            padding: 1rem 0;
            margin: 0 1rem;
            color: $head-col;

            &:hover {
                color: $red-col;
                border-bottom: 2px solid $red-col;
        }

    }
}

main {
    background: url("../Images/consultancy.jpg");
    background-size: cover;
    padding: 18rem 13rem;

    h1 {
        color: white;
        font-size: 3rem;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 3px solid $light-grey;
        margin: 1rem 0;
        width: 5rem;
    }
}

section {
    padding: 3rem 13rem 0;
}

.stats-section {
    display: flex;
    flex-direction: row;
}

.stats-section__column {
    padding: 0 2rem;
}

.stats-section__column--first {
    width: 25%;   
    
    h3 {
        font-size: 2rem;
        color: $head-col;
        margin-bottom: 1rem;
    }

    li {
        margin: 1rem 0 1rem;
        border-bottom: 1px solid $light-blue;
        padding: 0.2rem;
    }

    a {
        text-decoration: none;
        color: $head-col;
        line-height: 1.5rem;

        &:hover {
            color: $red-col;
        }
    }

    .stats-section__brochure {
        background-color: $light-blue;
        padding: 3rem 2.5rem;

        h4 {
            font-size: 1.5rem;
            color: $head-col;
            
        }

        p {
            color: $head-col;
            margin: 3rem 0 3rem;
        }

        a {
            color: $white-col;
            background-color: $red-col;
            padding: 1rem 2rem;
            font-weight: bold;
        }
    }
}

.stats-section__column--second {
    width: 40%;

    div {
        background-color: $light-blue;
        transform: skew(-30deg, 0deg);

    h2 {
        color: $head-col;
        font-size: 2.4rem;
        margin-left: 2rem;
        transform: skew(30deg, 0deg);
       

        span {
            font-weight: normal;
            font-size: 2.6rem;
            }
        }
    }

    h4 {
        color: $head-col;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    p {
        text-align: justify;
        color: $section-font;
    }
}

hr {
    display: block;
    height: 1px;
    border-top: 4px solid $red-col;
    margin: 1rem 0;
    width: 3rem;
}

.stats-section__column--third {
    width: 30%;

    p {
        color: $section-font;
    }

    img {
        width: 90%;
        height: 70%;
        margin-top: 2rem;
    }
    
}

.solutions-section {
    display: flex;
    flex-direction: row;
}

.solutions-section__column {
    padding: 0 2rem;
}

.solutions-section__column--first {
    background-color: $red-col;
    padding: 2rem;
    width: 26%;
    margin-left: 2rem;

    h4 {
        color: $white-col;
        font-size: 1.2rem; 
        margin-bottom: 1rem;
    }

    p {
        color: $white-col;
        font-size: 0.7rem;
        font-weight: bold;
        line-height: 1.2rem;
    }

    a {
        display: inline-block;
        margin-top: 1.5rem;
        text-decoration: none;
        border: 1px solid $white-col;
        color: $white-col;
        padding: 0.7rem 1.3rem;

        &:hover {
            background: $white-col;
            color: $red-col;

        }
    }
}

.solutions-section__column--second {
    margin-left: 2.5rem;
    width: 100%;

    h2 {
        color: $head-col;
        font-size: 2.4rem;
        margin-bottom: 2rem;

        span {
            font-weight: normal;
            font-size: 2.6rem;
        }
    }
}

.solutions-section__chemicals {
    display: flex;

    div {
        margin-top: 1rem;
        padding: 1rem;
        background: $light-blue;

        h4 {
            color: $red-col;
            font-size: 1.2rem;
            margin-bottom: 1rem; 
        }

        p {
           color: $section-font; 
        }
    }

}