@import 'vars';
@import 'mixins';

@include main;

.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
        display: flex;
        justify-content: center;

    .header__img {
        display: inline-block;
            
        img {
            width: 4rem;
        }
    }

    .header__name {
        display: inline-block;
        padding-top: 1rem;
        padding-left: 1rem;

        h4 {          
            font-size: 1.3rem;
            color: $head-col;
        }

        h5 {
            font-size: 0.8rem;
            text-transform: uppercase;
            color: $font-col;
        }
    }
}

.header__menu {
        display: flex;
        padding-left: 13rem;
            
        a {
            text-decoration: none;
            display: inline-block;
            padding: 1rem 0;
            margin: 0 1rem;
            color: $head-col;

            &:hover {
                color: $red-col;
                border-bottom: 2px solid $red-col;
        }

    }
}

main {
    background: url("../Images/consultancy.jpg");
    background-size: cover;
    padding: 18rem 13rem;

    h1 {
        color: white;
        font-size: 3rem;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 3px solid $light-grey;
        margin: 1rem 0;
        width: 5rem;
    }
}
