@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'utilities';
@import 'info-section';

@include main;

.mt-c-consultancy {
    background: url("../images/consultancy.jpg");
    background-size: cover;
    padding: 18rem 10rem;

    h1 {
        color: $white-col;
        font-size: 3rem;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 3px solid $light-grey;
        margin: 1rem 0;
        width: 5rem;
    }
}

section {
    padding: 3rem 8rem 0;
}

.mt-l-stats-section {
    display: flex;
    flex-direction: row;
}

.mt-c-stats-section__column {
    padding: 0 2rem;
}

.mt-c-stats-section-column--first {
    width: 30%;   
    
    h3 {
        font-size: 1.5rem;
        color: $head-col;
        margin-bottom: 1rem;
    }

    li {
        margin: 1rem 0 1rem;
        border-bottom: 1px solid $light-blue;
        padding: 0.1rem;
    }

    a {
        text-decoration: none;
        color: $head-col;
        line-height: 1.5rem;
        font-size: 0.9rem;

        &:hover {
            color: $red-col;
        }
    }

    .mt-c-stats-section__brochure {
        background-color: $light-blue;
        padding: 2rem 1.5rem;

        h4 {
            font-size: 1.5rem;
            color: $head-col;
            
        }

        p {
            font-size: 0.8rem;
            color: $head-col;
            margin: 2rem 0;
        }

        a {
            color: $white-col;
            background-color: $red-col;
            padding: 0.5rem 1rem;
            font-weight: bold;
        }
    }
}

.mt-c-stats-section-column--second {
    width: 50%;

    div {
        background-color: $light-blue;
        transform: skew(-30deg, 0deg);

    h2 {
        color: $head-col;
        font-size: 2rem;
        margin-left: 2rem;
        transform: skew(30deg, 0deg);
       

        span {
            font-weight: normal;
            font-size: 2.6rem;
            }
        }
    }

    h4 {
        color: $head-col;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    p {
        text-align: justify;
        color: $section-font;
        font-size: 0.8rem;
    }
}

hr {
    display: block;
    height: 1px;
    border-top: 4px solid $red-col;
    margin: 1rem 0;
    width: 3rem;
}

.mt-c-stats-section-column--third {
    width: 40%;

    p {
        color: $section-font;
        font-size: 0.8rem;
    }

    img {
        width: 100%;
        height: 70%;
        margin-top: 2rem;
    }
    
}

.mt-l-solutions-section {
    display: flex;
    flex-direction: row;
}

.mt-c-solutions-section-column--first {
    background-color: $red-col;
    padding: 2rem;
    width: 26%;
    margin-left: 2rem;

    h4 {
        color: $white-col;
        font-size: 1rem; 
        margin-bottom: 1rem;
    }

    p {
        color: $white-col;
        font-size: 0.6rem;
        font-weight: bold;
        line-height: 1.2rem;
    }

    a {
        display: inline-block;
        margin-top: 1.5rem;
        text-decoration: none;
        border: 1px solid $white-col;
        color: $white-col;
        padding: 0.5rem 1rem;

        &:hover {
            background: $white-col;
            color: $red-col;

        }
    }
}

.mt-c-solutions-section-column--second {
    margin-left: 2.5rem;
    width: 100%;    
}

h2 {
    color: $head-col;
    font-size: 2rem;
    margin-bottom: 2rem;

    span {
        font-weight: normal;
        font-size: 2.6rem;
    }
}

.mt-c-solutions-section__chemicals {
    display: flex;

    div {
        margin-top: 1rem;
        padding: 1rem;
        background: $light-blue;

        h4 {
            color: $red-col;
            font-size: 1rem;
            margin-bottom: 1rem; 
        }

        p {
           color: $section-font;
           font-size: 0.8rem; 
        }
    }

}

.mt-l-expertise-section {
    padding-left: 28rem;

    h4 {
        text-transform: uppercase;
        border-top: 1px solid $light-grey;
        padding: 1rem 0;
        font-size: 1rem;
    }

    h4:last-child {
        border-bottom: 1px solid $light-grey;
    }

    p {
        color: $section-font;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
}



